@import url('https://rsms.me/inter/inter.css');

html { 
  font-family: 'Inter', sans-serif;
  color: var(--dark-grey); 
}

@supports (font-variation-settings: normal) {
  html { 
    font-family: 'Inter var', sans-serif;
    color: var(--dark-grey);
  }
}

a, a:visited, a:active {
  color: var(--blue);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

a:hover {
  color: var(--green);
  border-bottom: 1px solid currentColor;
  transition: color .3s;
}

.cover {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: var(--s2);
}

.cover>* {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cover> :first-child:not(.centered) {
  margin-top: 0;
}

.cover> :last-child:not(.centered) {
  margin-bottom: 0;
}

.cover>.centered {
  margin-top: auto;
  margin-bottom: auto;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: calc(var(--s1)/2*-1)
}

.cluster >*>* {
  margin: calc(var(--s1)/2)
}

.stack {
  display: flex;
  flex-direction: column;
}

.stack * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack>*+* {
  margin-top: var(--s);
}
