html {
  font-family: 'canada-type-gibson', sans-serif;
  color: var(--dark-grey);
}

.cover {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: var(--s2);
}

.cover>* {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cover> :first-child:not(.centered) {
  margin-top: 0;
}

.cover> :last-child:not(.centered) {
  margin-bottom: 0;
}

.cover>.centered {
  margin-top: auto;
  margin-bottom: auto;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: calc(var(--s1)/2*-1)
}

.cluster >*>* {
  margin: calc(var(--s1)/2)
}

.stack {
  display: flex;
  flex-direction: column;
}

.stack * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack>*+* {
  margin-top: var(--s);
}

nav {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;

}

.nav-item {
  margin-left: var(--s);
  margin-right: var(--s);
}

.nav-item:first-of-type {
  margin-left: 0;
}

.nav-item:last-of-type {
  margin-right: 0;
}
