@import url('https://rsms.me/inter/inter.css');

/* Variable and globals */
:root {
  --scale: 1.5;
  --s-5: calc(var(--s-4) / var(--scale));
  --s-4: calc(var(--s-3) / var(--scale));
  --s-3: calc(var(--s-2) / var(--scale));
  --s-2: calc(var(--s-1) / var(--scale));
  --s-1: calc(var(--s) / var(--scale));
  --s: 1rem;
  --s1: calc(var(--s) * var(--scale));
  --s2: calc(var(--s1) * var(--scale));
  --s3: calc(var(--s2) * var(--scale));
  --s4: calc(var(--s3) * var(--scale));
  --s5: calc(var(--s4) * var(--scale));
  --s6: calc(var(--s5) * var(--scale));
  --black: #000000;
  --dark-grey: #27313B;
  --grey: #54626F;
  --light-grey: #EEEEEE;
  --yellow: #FFFF00;
  --red: #CE2029;
  --blue: #1974D2;
  --green: #3CB371;
  --purple: #663399;
  --pink: #FE28A2;
  --orange: #FF8C00;
  --white: #FFFFFF;
  --ivory: #FFFFF0;
  --measure: 65ch;
  --large-measure: 90ch;
  line-height: var(--scale);
  font-size: calc(0.5vw + 1em);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  /* Only supported on Chromium-based browsers and Safari */
  font-family: 'Inter', sans-serif;

}

/* CSS RESET BY ANDY BELL */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Layout Components */

.cover {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: var(--s2);
}

.cover>* {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cover> :first-child:not(.centered) {
  margin-top: 0;
}

.cover> :last-child:not(.centered) {
  margin-bottom: 0;
}

.cover>.centered {
  margin-top: auto;
  margin-bottom: auto;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s);
}

/* Dark Mode Light Mode Shit
Theme class sets default (light mode here) values */
.theme {
  color: var(--dark-grey);
  background-color: var(--light-grey);
}

.theme a,
.theme a:visited {
  color: var(--purple);
}

.theme a:hover {
  color: var(--green);
}

/* There is a better way to do this using better variables, but I'm not doing that right now */
.dark-mode-checkbox:checked ~ .theme {
  color: var(--light-grey);
  background-color: var(--dark-grey);
}

.dark-mode-checkbox:checked ~ .theme a,
.dark-mode-checkbox:checked ~ .theme a:visited {
  color: var(--pink);
}

.dark-mode-checkbox:checked ~ .theme a:hover {
  color: var(--green);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap; /* 1. */
}

.dark-mode-label::before {
  content: "\2610";
}

.dark-mode-checkbox:checked ~ .theme .dark-mode-label::before {
  content: "\2611";
}