/* zero octave style sheet | jmacthefatcat */
:root {
  --zo-green-1: #2B8278;
  --zo-green-2: #3CB371;
}

body {
  font-family: canada-type-gibson, sans-serif;
  color: var(--zo-green-1);
  background-color: var(--white-1);
}

b, .bold, strong, .font-bold {
  font-weight: 600;
}

.font-heavy {
  font-weight: 700;
}

.title-font {
  font-family: righteous, sans-serif;
}

a:hover, a:focus {
  background-color: var(--zo-green-2);
  color: var(--white-1);
}

@media screen and (max-width: 768px) {
  .align-left-small {
    display: flex;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 769px) {
  .align-right-big {
    display: flex;
    justify-content: flex-end;
  }
}
