/* zero octave style sheet | jmacthefatcat */
:root {
  --zo-green-1: #2B8278;
  --zo-green-2: #20894f;
  --zo-black-1: #27313b;
  --zo-teal-1: #40ba92;
}

body {
  font-family: canada-type-gibson, sans-serif;
  background-color: var(--white);
  color: var(--zo-black-1);
}

b, .bold, strong, .text-bold {
  font-weight: 600;
}

.text-heavy {
  font-weight: 700;
}

.title-font {
  font-family: righteous, sans-serif;
  font-weight: 700;
}

a:hover, a:focus {
  background-color: var(--zo-teal-1);
  color: var(--white);
}

@media screen and (max-width: 768px) {
  .align-left-small {
    display: flex;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 769px) {
  .align-right-big {
    display: flex;
    justify-content: flex-end;
  }
}
