<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>All Things Jordan McCracken - zero octave</title>
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">

  <meta name="description" content="Illustration, graphic design, css framework, etc. The catch all drawer of Jordan McCracken.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://use.typekit.net/uct1kmd.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous">
  <link rel="stylesheet" href="css/inter/inter.css">
  <link rel="stylesheet" href="css/zoctave.css">
</head>
